/*.weather-container{
   width: 480px;
    height: 490px;
    background-color: rgba(220, 230, 255, .07);
    position: relative;
    top: 200px;
    left: 129px;
    border-radius: 25px;
    border:2px solid blue;
    color: white;
}*/
.weather-container {
  width: 480px;
  height: 490px;
  background-color: rgba(220, 230, 255, 0.07);
  position: relative;
  top: 200px;
  left: 129px;
  border-radius: 25px;
  border: 2px solid blue;
  color: white;
}

/* Media query for screens narrower than 768px */
@media screen and (max-width: 768px) {
  .weather-container {
    width: 100%; /* Make the container full width */
    max-width: 480px; /* Limit the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    top: 50px; /* Adjust the top position as needed */
    left: 0; /* Remove left positioning or adjust as needed */
    border-radius: 10px; /* Optionally reduce border-radius */
  }
}